.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-image-upload img {
    width: 120px;
}

.add-product-name, .add-product-description {
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    /* display: flex; 
    flex-direction: column; */
    margin-top: 8px;
    gap: 30px;
}

.add-category-price select, .add-category-price input {
    /* max-width: 280px; */
    width: max(40%, 280px);
    padding: 10px;
}

.add-button {
    min-width: 120px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


.top-product {
    margin-top: 20px;
    max-width: 200px;
}

.top-product p {
    margin-bottom: 10px;
}

.top-product label {
    margin: 10px;
}

.top-product input {
    padding: 10px;
}



/* Checkbox */

/* Checkbox */
.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  width: 30px;
  margin: 0;
  position: relative;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}
