.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-image-upload img {
    width: 120px;
}

.add-product-name, .add-product-description {
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    /* display: flex; 
    flex-direction: column; */
    margin-top: 8px;
    gap: 30px;
}

.add-category-price select, .add-category-price input {
    /* max-width: 280px; */
    width: max(40%, 280px);
    padding: 10px;
}

.add-button {
    min-width: 120px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}