.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar .profile-image {
    width: 40px;
}