.header {
    height: 34vw;
    min-height: 320px;
    margin: 30px auto;
    background: url('../../../public/header_img.png') no-repeat center;
    background-size: cover;
    position: relative;
}


.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 0.5s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px; 
    cursor: pointer;   
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {   
    .header {
        height: 65vw;
        min-height: 280px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header-contents {
        max-width: 85%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 12%;
        align-items: center;
        text-align: center;
    }

    .header-contents h2 {
        font-size: 22px;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 10px 22px;
        font-size: 14px;
    }
}
