.bag-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s ;
}

.bag-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.bag-item-info {
    padding: 20px;
}

.bag-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bag-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.bag-item-name-rating img {
    width: 70px;
}

.bag-item-description {
    color: #676767;
    font-size: 12px;
}

.bag-item-mrp {
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0px;
    text-decoration: line-through;
}

.bag-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 700;
    margin: 4px 0px;
}

.bag-item-image-container {
    position: relative;
}

.bag-item-image-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.bag-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.bag-item-counter img {
    width: 30px;
}



.read-more-container {
  max-width: 500px;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.read-more-btn {
  background: none;
  border: none;
  color: #8b5e34; /* brown theme */
  cursor: pointer;
  font-weight: 600;
  margin-top: 4px;
  padding: 0;
}

.read-more-btn:hover {
  text-decoration: underline;
}
