.bag-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s ;
}

.bag-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.bag-item-info {
    padding: 20px;
}

.bag-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bag-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.bag-item-name-rating img {
    width: 70px;
}

.bag-item-description {
    color: #676767;
    font-size: 12px;
}

.bag-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px
}

.bag-item-image-container {
    position: relative;
}

.bag-item-image-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.bag-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.bag-item-counter img {
    width: 30px;
}